<?xml version="1.0"?>
<!-- 
  Copyright (c) 2024 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="pal_sea_arm">

  <!--File includes-->
  <xacro:include filename="$(find pal_urdf_utils)/urdf/deg_to_rad.urdf.xacro" />
  <xacro:include filename="$(find pal_urdf_utils)/urdf/materials.urdf.xacro" />

  <xacro:include filename="$(find pal_sea_arm_description)/urdf/arm/arm.urdf.xacro"/>
  <xacro:include filename="$(find pal_sea_arm_description)/urdf/end_effector/end_effector.urdf.xacro"/>
  <xacro:include filename="$(find pal_sea_arm_description)/gazebo/gazebo.urdf.xacro" />


  <xacro:arg name="end_effector" default="pal-pro-gripper"/> <!-- no-end-effector, pal-pro-gripper -->
  <xacro:arg name="ft_sensor" default="rokubi"/> <!-- no-ft-sensor, rokubi-->
  <xacro:arg name="arm_model" default="pal-sea-arm-standalone"/>
  <xacro:arg name="use_sim" default="False"/>
  <xacro:arg name="namespace" default=""/>

    <!-- ros2_control -->
  <xacro:include filename="$(find pal_sea_arm_description)/ros2_control/ros2_control.urdf.xacro" />
  <xacro:pal_sea_arm_ros2_control use_sim="$(arg use_sim)" />

  <xacro:property name="end_effector" value="$(arg end_effector)" />
  <xacro:property name="ft_sensor" value="$(arg ft_sensor)" />
  <xacro:property name="arm_model" value="$(arg arm_model)" />
  <xacro:property name="nsp" value="$(arg namespace)" />


  <xacro:if value="${end_effector not in ['no-end-effector', 'pal-pro-gripper']}">
    <xacro:wrong_end_effector/>
  </xacro:if>
  <xacro:if value="${ft_sensor not in ['no-ft-sensor', 'rokubi']}">
    <xacro:wrong_ft_sensor/>
  </xacro:if>
  <xacro:if value="${arm_model not in ['pal-sea-arm-standalone', 'tiago-pro', 'tiago-sea', 'tiago-sea-dual']}">
    <xacro:wrong_arm_model/>
  </xacro:if>

  <xacro:property name="has_ft_sensor"           value="${ft_sensor != 'no-ft-sensor'}"/>
  <xacro:property name="has_end_effector"        value="${end_effector not in ['no-end-effector']}"/>
  <xacro:property name="end_effector_link"       value="${'wrist_ft_tool_link' if has_ft_sensor else 'arm_tool_link'}"/>

 <!-- Force Torque sensor -->
  <xacro:if value="${has_ft_sensor}">
    <xacro:include filename="$(find pal_sea_arm_description)/urdf/sensors/ft_sensor.urdf.xacro" />
    <xacro:include filename="$(find pal_sea_arm_description)/urdf/sensors/ft_sensor.gazebo.xacro" />
  </xacro:if>

  <link name="world"/>

  <joint name="world_fixed" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="world"/>
      <child link="arm_root_link"/>
  </joint>

  <!-- BASE LINK -->
  <link name="arm_root_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <mass value="0.28971" />
      <inertia
        ixx="0.00022379"
        ixy="1.5836E-20"
        ixz="5.2063E-21"
        iyy="0.00022379"
        iyz="-5.1333E-21"
        izz="0.00019673" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://pal_sea_arm_description/meshes/arm_tiago_pro/base_link.stl" />
      </geometry>
      <material name="pal/DarkGrey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://pal_sea_arm_description/meshes/arm_tiago_pro/base_link.stl" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="arm_root_link">
    <material>Gazebo/DarkGrey</material>
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>

  <!-- ARM -->
  <xacro:pal_sea_arm name="arm" parent="arm_root_link" arm_model="${arm_model}" reflect="1" arm_1_offset="0" arm_2_offset="0" arm_3_offset="0" arm_4_offset="0" arm_5_offset="0" arm_6_offset="0" arm_7_offset="0">
    <origin xyz="0 0 0" rpy="0 0 3.1416" />
  </xacro:pal_sea_arm>

  <xacro:pal_sea_arm_end_effector name="gripper" parent="${end_effector_link}" type="${end_effector}" has_end_effector="${has_end_effector}" reflect="1"/>

  <!-- Force Torque sensor-->
  <xacro:if value="${has_ft_sensor}">
    <xacro:ft_sensor name="wrist" parent="arm_tool_link"/>
   <!-- <xacro:force_torque_sensor_gazebo name="wrist_ft" update_rate="100"/>-->
  </xacro:if>

</robot>
